* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(10, 14, 42);
}

h1, .question-container {
  text-align: center;
}

h1 {
  margin: 2em;
  background: -webkit-linear-gradient(#bdeaff, #3ed5ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.question-container {
  margin: 20px;
  height: auto;
  padding: 20px;
  text-align: center;
  border-radius: 18px;
  background-color: hsl(157, 59%, 70%);
  @media (width >= 30em) {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  @media (width >= 50em) {
    margin-left: 12rem;
    margin-right: 12rem;
    padding: 30px;
  }
}

.question-num {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-text {
  margin-bottom: 10px;
}

.question-answers {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 10px;
}

h1, 
.question-text, 
.question-answers, 
.answer-button {
  font-family: Arial, Helvetica, sans-serif;
}

.answer-button {
  border: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
}

.answer-button:hover {
  background-color: hsl(0, 0%, 80%);
}

.reset-button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 32px;
  border: none;
  border-radius: 5px;
  color: #f1f1f1;
  background-color: hsl(157, 59%, 50%);
  cursor: pointer;
}

.reset-button:hover {
  background-color: hsl(157, 59%, 35%);
}

.score-section, 
p {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

img {
  margin-top: 10px;
  width: 250px;
}


/* MEDIA QUERY CSS SECTION */
@media only screen and (max-width: 700) {
  .question-container {
    margin: 80%;
  }
}